{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sparkline Labz</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon_io/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon_io//favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon_io//favicon-16x16.png" %}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/easy.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/responsive.css' %}">
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="site-wrapper">
        <div class="header-index">
            <!-- ====== 1.1. Header section ====== -->
            <header>
                <nav class="container navbar">
                    <div class="container-nav flex">
                        <!-- site logo -->
                        <a class="navbar-logo" href="/"><img class="logo-img" src="{% static 'base/Images/logo.png' %}" alt="Sparkline Labz" /></a>
                        <button class="navbar-toggler" onclick="openNav()" type="button">
                            <span class="fa-solid fa-bars"></span>
                        </button>
                        <!-- menus -->
                        <ul class="navbar-nav flex">
                            <li><a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url "home" %}">Home</a></li>
                            <li><a class="nav-link {% if request.resolver_match.url_name == 'portfolio' %}active{% endif %}" href="{% url 'portfolio' %}">Case Studies</a></li>
                            <li><a class="nav-link {% if request.resolver_match.url_name == 'testimonials' %}active{% endif %}" href="{% url 'testimonials' %}">Testimonials</a></li>
                            <li class=" dropdown ">
                                    <a class="flex items-center nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Services
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                        {% for service in service_data %}
                                        <li><a class="dropdown-item" href="{% url 'services' service.slug_url %}">{{ service.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="flex items-center nav-right">
                        <a class="btn_hover1" href="{% url 'contact' %}">Book a free call</a>
                        <!-- header buttons -->
                        <!-- <i onclick="open_right_side()" class="fa-solid fa-bars"></i> -->
                    </div>
                </nav>
                <!-- Sidebar -->
                <aside id="mySidepanel" class="sidepanel">
                    <div class="sidebar flex">
                        <a href="index.html"> <span class="color1 bold">Sparkline</span> <span
                                class="color2 bold">Labz</span></a>
                        <button class="closebtn btn_hover1" onclick="closeNav()"><i
                                class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div>
                        <!-- side menus -->
                        <ul>
                            <li><a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url "home" %}">Home</a></li>
                            <li><a class="nav-link {% if request.resolver_match.url_name == 'portfolio' %}active{% endif %}" href="{% url 'portfolio' %}">Case Studies</a></li>
                            <li><a class="nav-link {% if request.resolver_match.url_name == 'testimonials' %}active{% endif %}" href="{% url 'testimonials' %}">Testimonials</a></li>
                            <li class="pages"><a href="#">Serviecs</a></li>
                            <li class="collapse_btn">
                                <a class="nav-link plus_collapse" data-bs-toggle="collapse" href="javascript:void(0);"
                                    onclick="toggleCollapse('pages')" aria-expanded="false" aria-controls="pages">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                                <div class="collapse" id="pages">
                                    <ul>
                                        {% for service in service_data %}
                                        <li>
                                            <a class="nav-link" href="{% url 'services' service.slug_url %}">{{ service.title }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </header>
            <!-- ====== End of 1.1. Header section ====== -->
            {% block body %}{% endblock body %}
            <!-- ====== 1.12. Footer section ====== -->
            <footer>
                <div class="container">
                    <div class="footer-hr flex items-center flex-col">
                        <div class="flex items-center gap-1 aos-init aos-animate" data-aos="fade-left">
                            <hr>
                            <h6>Newsletter</h6>
                        </div>
                        <h3>JOIN OUR MAILING LIST</h3>
                        <p class="text-center">By joining, you’ll receive the latest updates, exclusive offers, and valuable content directly to your inbox. Stay informed about our product releases, upcoming events, and insider insights.
                        </p>
                    </div>
                    <form id="footer-form" class="flex justify-between flex-col sm:flex-row items-center gap-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                        <div id="footer-message"></div>
                        <input class="bg-transparent border-transparent focus:border-transparent focus:ring-0" type="email" required="" placeholder="Enter your mail">
                        <button type="submit" class="btn_hover1">Get Started</button>
                    </form>
                </div>
                <div class="footer-menu">
                    <div class="container">
                        <div class="flex flex-col sm:flex-row items-center justify-between footer-center">
                            <div class="sm:w-[33%] flex items-start flex-col gap-6 flex-start">
                                <a href="/"> <img class="logo-img" src="{% static 'base/Images/logo.png' %}" alt="Sparkline Labz" /></a>
                                <p>We are committed to delivering top-tier digital solutions, tailored to your business needs. Our services are crafted with a keen understanding of current industry trends, ensuring we provide you with the highest quality and satisfaction.
                                </p>
                                <span class="flex items-center gap-6">
                                    <a href="https://www.linkedin.com/company/sparklinelabz"><i class="fa-brands fa-linkedin"></i></a>
                                    <a href="https://www.instagram.com/sparkline.labz"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                </span>
                            </div>
                            <div class="mt-4">
                                <h4>Quick Links</h4>
                                <ul class="flex gap-6 text-center flex-col justify-start items-center sm:items-start">
                                    <li><a href="">Home</a>
                                    </li>
                                    <li><a href="{% url "portfolio" %}">Case Studies</a>
                                    </li>
                                    <li><a href="{% url "testimonials" %}">Testimonials</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sm:w-[33%] mt-1 flex items-center sm:items-start flex-col">
                                <h4>Get Connected</h4>
                                <ul class="flex items-center sm:items-start flex-col gap-6">
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-phone"></i></a>
                                        <a href="#" class="text-lowercase">+923301571571</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-regular fa-envelope lowercase"></i></a>
                                        <a class="lowercase-text" href="#">ceo@sparklinelabz.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container flex items-center justify-between gap-6 flex-wrap">
                        <h6>Copyright © 2024 By <a href="" class="p-0">
                                www.sparklinelabz.com </a> All Rights Reserved.
                        </h6>
                        <h6>Powered By <a href="" class="bold color2" href="/"><img class="logo-img" src="{% static 'base/Images/logo.png' %}" alt="Sparkline Labz" /></a></h6>
                    </div>
                </div>
            </footer>
        </div>
        
    <!-- button back to top -->
        <button onclick="scrollToTop()" id="backToTopBtn" class="btn_hover2"><i
            class="fa-solid fa-arrow-turn-up"></i></button>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
            integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
            integrity="sha256-DHF4zGyjT7GOMPBwpeehwoey18z8uiz98G4PRu2lV0A=" crossorigin="anonymous"></script>


        <script>
            $(".testimonials-slider").slick({

                // normal options...
                infinite: false,

                // the magic
                responsive: [{

                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        infinite: true
                    }

                }, {

                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                    }

                }]
            });

            $(".logos-list").slick({

                // normal options...
                infinite: true,
                autoplay: true,
                autoplaySpeed: 0,
                speed: 3000, // Set the transition speed to 3000 milliseconds (3 seconds)
                cssEase: 'linear', // Use linear easing for a smooth transition
                centerMode: true,

                // the magic
                responsive: [{

                    breakpoint: 2045,
                    settings: {
                        slidesToShow: 3,
                        infinite: true,
                    }

                }, {

                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        infinite: true
                    }

                }, {
                    breakpoint: 930,
                    settings: {
                        slidesToShow: 1,
                        infinite: true
                    }

                }, {

                    breakpoint: 800,
                    settings: {
                        slidesToShow: 1,
                    }

                }, {

                    breakpoint: 450,
                    settings: {
                        slidesToShow: 1,
                    }
                }]
            });

        </script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="{% static "base/js/script.js" %}"></script>
</body>
</html>