{% extends "base/base.html" %} {% block title %} Sparkline Labs {% endblock %}
{% load static %} {% block body %}

<!-- ====== 1.2. hero section ====== -->
<section class="hero">
  <div class="container aos-init aos-animate" data-aos="zoom-in">
    <div>
      <div class="hero-social-icon flex">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <hr class="d-mblock d-sm-none d-none" />
      </div>
      <div class="center-data">
        <h1>Sparkline Labs</h1>
        <h3>BUILDING YOUR EMPIRE DIGITALLY</h3>
        <div class="center-btn flex">
          <a href="{% url 'contact' %}" class="btn_hover1">Get Started</a>
          <a href="{% url 'portfolio' %}" class="btn_hover2">Discover More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== End of 1.2. hero section ====== -->
<!-- ====== 1.3. card section ====== -->
<section class="feature">
  <div class="container">
    <div class="flex">
      <div class="header-card aos-init aos-animate" data-aos="fade-up">
        <div>
          <figure>
            <img
              src="{% static 'base/Images/icon/feature1.png' %}"
              class="feature-img1"
              alt="feature"
            />
          </figure>
          <h4>CUSTOMIZED SOLUTIONS</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever.
          </p>
        </div>
      </div>
      <div class="header-card aos-init aos-animate" data-aos="fade-down">
        <div>
          <figure>
            <img
              src="{% static 'base/Images/icon/feature2.png' %}"
              alt="feature"
            />
          </figure>
          <h4>ROI-DRIVEN APPROACH</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever.
          </p>
        </div>
      </div>
      <div class="header-card aos-init aos-animate" data-aos="fade-up">
        <div>
          <figure>
            <img
              src="{% static 'base/Images/icon/feature3.png' %}"
              alt="feature"
            />
          </figure>
          <h4>CREATIVE SOLUTION</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever.
          </p>
        </div>
      </div>
      <div class="header-card aos-init aos-animate" data-aos="fade-down">
        <div>
          <figure>
            <img
              src="{% static 'base/Images/icon/feature4.png' %}"
              alt="feature"
            />
          </figure>
          <h4>EXPERT TEAM</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== End of 1.3. card section ====== -->
<!-- ====== 1.4. logoipsum section ====== -->
<section class="logoipsum">
  <div class="container">
    <div class="flex items-center flex-col gap-5">
      <hr class="hr1" />
      <h3 data-aos="zoom-in" class="mb-6 aos-init aos-animate">OUR CLIENTS</h3>
    </div>
    <div
      class="logoipsum-slider slick-initialized aos-init aos-animate"
      data-aos="zoom-in"
    >
      <div class="logos-list slick-track">
        {% for client in clients %}
        <figure
          class="logo-item slick-slide slick-current slick-active"
          data-slick-index="0"
          aria-hidden="false"
          style="width: 258px"
          tabindex="0"
        >
          <img src="{{ client.logo.url }}" alt="logoipsum" />
        </figure>
        {% endfor %}
      </div>
    </div>
    <hr class="hr2" />
  </div>
</section>
<!-- ====== End of 1.4. logoipsum section ====== -->
<!-- ====== 1.5. About us section ====== -->
<section class="about">
  <div class="container">
    <div class="container-center about-data flex-sb">
      <div class="sm:w-1/2 aos-init aos-animate" data-aos="fade-up">
        <!-- <div class="flex items-center about-title">
                    <hr class="about-hr">
                    <h2>About</h2>
                </div> -->
        <h2>Explore Our Services And Boost Your Online Presence</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
        
        <div class="flex items-center gap-4 my-4">
          <i class="fa-solid text-[16px] fa-check"></i>
          <p class="text-[16px] text-white">Lorem Ipsum is simply dummy text of the printing.</h7>
        </div>
        <div class="flex items-center gap-4 my-4">
          <i class="fa-solid fa-check"></i>
          <p class="text-[16px] text-white">Lorem Ipsum is simply dummy text of the printing.</h7>
        </div>
        <div class="flex items-center about-btns gap-5 mt-8">
          <a href="{% url 'contact' %}" class="btn_hover1">Get Started</a>
          <a href="{% url 'portfolio' %}" class="btn_hover2">Discover More</a>
        </div>
      </div>
      <div
        class="about-imgs flex items-center Justify-center sm:w-1/2 aos-init aos-animate"
        data-aos="fade-down"
      >
        <div>
          <figure>
            <img src="{% static 'base/Images/home/about.png' %}" alt="img" />
          </figure>
        </div>
        <div class="ab-count flex items-center Justify-center ">
          <div class="flex items-center Justify-center">
            <h2>3</h2>
            <h2>+</h2>
          </div>
          <p>years of experience</p>
        </div>
        <div class="about-hr flex items-center gap-4">
          <hr />
          <!-- <h6>Who we are</h6> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== End of 1.5. About us section ====== -->
<!-- ====== 1.7. Services section ====== -->
<section class="service">
  <div class="service-1">
    <div class="container">
      <div
        class="container-center service-data aos-init aos-animate"
        data-aos="fade-down"
      >
        <div class="page-title text-center sm:text-left sm:w-[66.66%]">
          <!-- <div class="flex items-center gap-4">
                                <hr class="service-hr1 ">
                                <h5>SERVICES</h5>
                            </div> -->
          <h2 class="mt-6">Services We Offer</h2>
          <p class="mt-6">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever.
          </p>
        </div>
        <!-- <div class="w-[33.333%] mt-6 flex items-center flex-end">
                            <a href="services.html" class="btn_hover2">View All Services</a>
                        </div> -->
        <hr class="mt-6 mb-6" />
      </div>
      <div class="flex items-center gap-4 mt-6 s-card">
        {% for service in services %}
        <div class="service-card aos-init aos-animate" data-aos="fade-up">
          <figure>
            <img
              src="{% static 'base/Images/icon/slider2.png' %}"
              alt="slider2"
            />
          </figure>
          <h3>{{service.title}}</h3>
          <p>{{service.headline}}</p>
          <a href="{% url 'services' service.slug_url %}"
            >Read more <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- ====== End of 1.6. Services section ====== -->
<!-- 1.7 Testimonials Section -->
<section class="testimonials">
  <div class="container">
    <div class="flex items-center flex-col gap-5">
      <hr class="hr1" />
      <h3 data-aos="zoom-in" class="mb-6 aos-init aos-animate color4">
        Testimonials
      </h3>
    </div>
    <div class="slider-container">
      <div
        class="testimonials-slider"
        data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'
      >
        {% for testimonial in testimonials %}
        <div class="testimonial">
          <div class="testi-row">
            <div class="client-info">
              <img src="{{ testimonial.client.image.url }}" alt="" />
              <h5><b>{{testimonial.client.name}}</b></h5>
              <small
                >{{testimonial.client.position}}
                {{testimonial.client.company}}</small
              >
            </div>
            <div class="client-message">
              <img
                src="{% static 'base/Images/icon/quotation-mark-gray.svg' %}"
                alt=""
              />
              <p>{{testimonial.message}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <hr class="hr2" />
  </div>
</section>
<!-- End of 1.6 Testimonials Section -->
<section class="portfolio">
  <div class="portfolio-1">
    <div class="container">
      <div
        class="container-center portfo-center aos-init aos-animate"
        data-aos="fade-up"
      >
        <div class="page-title w-1/2">
          <div class="flex items-center gap-4">
            <hr class="gallary-hr1" />
            <h5>PORTFOLIO</h5>
          </div>
          <!-- <h2 class="mt-6">Our Latest Projects.</h2> -->
          <p>Our Latest Projects.</p>
        </div>
        <div class="flex items-center mt-4 sm:mt-0 sm:flex-end sm:w-100">
          <a href="{% url 'portfolio' %}" class="btn_hover2"
            >View All Projects</a
          >
        </div>
      </div>
      <hr class="mt-8" />
    </div>
  </div>
  <div class="gallary">
    <div class="ga-bg"></div>
    <!-- overly -->
    <span> </span>
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <div id="all" class="tabcontent" style="display: block">
        <div class="flex items-center Justify-center">
          <div class="case-studies-main flex-wrap items-center justify-between">
            {% for project in projects %}
            <div class="case-study">
              <a href="{% url 'case-study' project.slug_url %}">
                <img class="project-image" src="{{project.image.url}}" alt="" />
              </a>
              <a href="{% url 'case-study' project.slug_url %}">
                <h3 class="case-title mt-6">{{project.title}}</h3>
              </a>
              <p>{{project.about_client}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="gallary-hr flex items-center gap-4 flex-end mt-6">
        <h6>Creative Solution</h6>
        <hr />
      </div>
    </div>
  </div>
</section>
<!-- Team Section-->
<section class="inter-family dark:bg-[#150725]">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-46">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Our Team
      </h2>
      <p
        class="font-light text-gray-500 lg:mb-46 sm:text-xl dark:text-gray-400"
      >
        Meet our Team of Professionals, We drive echnical strategies of modern tools and technologies to provide best possible solution.
      </p>
    </div>
    
    <div class="grid gap-8 mb-6 lg:mb-46 md:grid-cols-2">

    {% for member in team %}
      <div class="bg-gray-50 rounded-lg shadow sm:flex items-center dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="{{ member.image.url }}" alt="Bonnie Avatar">
        </a>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            <a href="">{{ member.name }}</a>
          </h3>
          <span class="text-gray-500 dark:text-gray-400">{{ member.works_as }}</span>
          <p class="mt-4 mb-4 font-light text-gray-500 dark:text-gray-400">
            {{ member.about }}
          </p>
          <ul class="flex items-center space-x-4 sm:mt-0">
            <li>
              <a href="{{ member.linkedin }}" class="text-gray-500 hover:text-gray-900 dark:hover:text-white" target="_blank" >
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
                  <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
                </svg>
                
              </a>
            </li>
            <li>
              <a href="{{ member.instagram }}" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
                </svg>
                
              </a>
            </li>
            <li>
              <a href="{{ member.github }}" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    {% endfor %}

  </div>
</section>
<!-- ====== 1.10. FAQ section ====== -->
<section class="faq relative">
  <span> </span>
  <div class="container">
    <div class="flex flex-col sm:flex-row sm:items-center flex-wrap">
      <div class="sm:w-1/2 text-center aos-init aos-animate" data-aos="fade-up">
        <div class="flex items-center gap-5">
          <hr class="faq-hr1" />
          <h5>FAQ</h5>
        </div>
        <h2 class="mt-4">Frequently Asked Questions</h2>
        <p class="mt-4">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text
          ever.
        </p>
      </div>
      <div class="sm:w-1/2 mt-6">
        <div
          class="accordion flex items-center flex-col gap-5 aos-init aos-animate"
          id="accordionExample"
          data-aos="fade-down"
        >
          {% for faq in faqs %}
          <div class="accordion-item bg-white">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button">
                {{faq.question}}
                <img src="{% static 'base/Images/icon/plus.png' %}" alt="img" />
              </button>
            </h2>
            <div class="accordion-collapse">
              <p>{{faq.answer}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== End of 1.11. FAQ section ====== -->

{% endblock body %}
